.MainContainer {
  background: var(--light-color);
}

.FooterContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  margin: 0px auto;
  padding: 50px 0px;
}

.FooterContent img {
  width: 75px;
  height: 50px;
  object-fit: contain;
}

.FooterContent:nth-child(1) {
  flex-basis: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterContent:nth-child(2) {
  flex-basis: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FooterContent div {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FooterContent div:nth-child(1) {
  width: 60%;
}

.FooterContent div:nth-child(2) {
  width: 30%;
}

.FooterContent a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  color: #3e3e3e;
}

.CopyRight {
  width: 1200px;
  padding-bottom: 50px;
  margin: 2px auto;
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 10px;
  color: #4e6262;
}

@media all and (max-width: 940px) {
  .FooterContainer {
    width: 90%;
    margin: 0px auto;
    flex-direction: column;
  }

  .FooterContent > div {
    width: 80% !important;
  }
}
